.appheader {
	height: 60px;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #F6F6F6;
	background-color: #FFFFFF;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9rem;
}

.appheader__logo {
	max-height: 30px;
}
