body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 1rem;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	margin: 2.5% 0;
}
