.searchresult__container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2em 0;
}

.searchresult__title {
	width: 100%;
	color: #000;
	margin-bottom: 0.5em;
}

.searchresult {
	width: 25em;
	height: 17.5em;
	margin: 1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	transition: 0.2s ease;
}

.searchresult__detail {
	position: absolute;
	padding: 0.5em;
	font-weight: 600;
	color: #fff;
	max-width: 12.5em;
}

@media only screen and (max-width: 479px) {
	.searchresult__detail {
		max-width: 7.5em;
	}
}

.searchresult__detail-topleft {
	left: 0;
	top: 0;
	border-bottom: 5px solid #fff;
	text-align: left;
}

.searchresult__detail-topright {
	text-align: right;
	padding: 15px 10px;
	right: 0;
	top: 0;
}

.searchresult__detail-bottom {
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.searchresult__detail-bottomright {
	text-align: right;
	bottom: 0;
	right: 0;
}

.searchresult__detail-bottomleft {
	text-align: left;
	bottom: 0;
	left: 0;
}

.searchresult__detail h2 {
	margin: 0;
}

/* overlay */

.overlay {
  position: relative;
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
	background-color: #000;
}

.overlay:hover:before {
	opacity: 0.5;
	transition: 0.2s ease;
}
