.searchfield__wrapper {
	position: absolute;
	width: 100%;
	top: 60vmin;
}

@media only screen and (max-width: 600px) {
	.searchfield__wrapper {
		top: 60vmax;
	}
}

.searchfield__form {
	position: relative;
}

.searchfield__form > label {
	position: absolute;
}

.searchfield {
	height: 3em;
	max-width: 26em;
	width: 90%;
	padding-left: 0.5em;
	font-size: 1rem;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-position: center right 10px;
	background-size: 25px;
	background-repeat: no-repeat;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	color: #666666;
	outline: none;
	transition: 0.25s ease;
}

.searchfield__icon {
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1em;
	width: 20px;
	height: 20px;
}
