.slider__container {
  position: relative;
  margin: 0 auto;
	overflow: hidden;
}

.slider {
  display: flex;
  justify-content: flex-start;
  transition: 0.5s ease-in-out;
}

.slider__item {
  width: 100%;
  box-sizing: border-box;
	overflow: hidden;
}

.slider__item-img {
	min-height: 75vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.slider__item-content h1,
.slider__item-content h3 {
	text-shadow: 0px 1px 7px #000;
}

.slider__navigation {
	position: absolute;
  height: 75vh;
  cursor: pointer;
  width: 70px;
}

.slider__navigation-left {
  left: 0;
	top: 0;
}

.slider__navigation-right {
  right: 0;
	top: 0;
}

.slider__arrow-left,
.slider__arrow-right {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-image: url("../img/arrow-next.svg");
	opacity: 0.6;
	transition: 0.2s ease;
}

.slider__arrow-right:hover,
.slider__arrow-left:hover {
	opacity: 1;
}

.slider__arrow-right {
  transform: rotateY(-180deg);
}

@media screen and (min-width: 1280px) {
  .slider__arrow-left,
  .slider__arrow-right {
    background-size: 100%;
  }
}

@media screen and (max-width: 720px) {
  .slider__navigation {
    width: 40px;
  }
  .slider__arrow-left,
  .slider__arrow-right {
    background-size: 70%;
  }
}
